* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: antiquewhite;
}

.main-container {
  padding: 10px;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 25px;
}

select {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
}